[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"

[scripts]
#package="pyinstaller -i ico/application.ico -F main.py"
package="pyinstaller main.spec"
